{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Datos</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'persona/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        p{
            color: #1b1e21;

        }

        .abs-center {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 100vh;
        }

        .form {
            width: 450px;
        }
        .abs-center {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 100vh;
        }

        .form {
          width: 450px;
}
    </style>

</head>
<body>

    <div class="container">
  <div class="abs-center">

    <form method="POST" action="#" class="border p-3 form">
        <h2>Gráfica</h2>
        <div id="myfirstchart" ></div>
        <a class="submit" style="text-decoration: none;" href="{% url 'dashboard' %}" role="button">Inicio</a>

    </form>
  </div>
</div>

    <!-- JS -->
    <script src="{% static 'persona/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'persona/js/main.js' %}"></script>
   <script>
        new Morris.Line({
          // ID of the element in which to draw the chart.
          element: 'myfirstchart',
          // Chart data records -- each entry in this array corresponds to a point on
          // the chart.
          data: [
            {% for item in consulta %}
                { year: '{{ item.date|date:"P d/m/Y" }}', value: '{{ item.porcentaje }}' }{% if not forloop.last %},{% endif %}
            {% endfor %}
              ],
          // The name of the data record attribute that contains x-values.
          xkey: 'year',
          // A list of names of data record attributes that contain y-values.
          ykeys: ['value'],
          // Labels for the ykeys -- will be displayed when you hover over the
          // chart.
          labels: ['Value'],
          parseTime: false,
          hideHover: 'auto',
          resize: true,
            labelColor: '#FFFFFF'

        });
    </script>
</body>
</html>